@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}
body{
    background-color: rgba(217, 243, 255, 0.849)!important;
}
nav{
    display: flex;
    /* background-color: rgb(255, 72, 255); */
    background-color: rgba(0, 0, 0, 0.842);
    line-height: 60px;
    position: relative;
}
h1{
    padding-top: 8px;
    margin: 0 8px;
    color: white;
}
.logo{
    padding-top: 8px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
#navbar .search{
    border-radius: 20px;
    position: absolute;
    top: 16px;
    right: 2%;
    height: 40px;
    width: 400px;
    text-align: center;

}
/* first part suru */
.profile{
    height:300px;
    width: 100%;
    border-bottom: 5px solid white;
}
.dp{
    position: absolute;
    top: 100px;
    left: 270px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.name{
    position: absolute;
    top: 310px;
    left: 290px;
    font-size: 30px;
    color: teal;
}
.add{
    position: absolute;
    top: 310px;
    left: 33%;
    font-size: 30px;
    height: 40px;
    width: 70px;
    border:2px solid black;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.842);
    color: whitesmoke;
}

@media (max-width:1048px){
    nav{
        display: flex;
        background-color: rgba(0, 0, 0, 0.842);
        line-height: 30px;
        width: 100hv;
        position: sticky;
        top: 0%;
        position: relative;
    }
    h1{
        padding-top: 5px;
        margin: 0 4px;
        font-size: 20px;
        color: white;
    }
    .logo{
        padding-top: 5px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    #navbar .search{
        border-radius: 20px;
        font-size: 10px;
       position: absolute;
        height: 22px;
        width: 100px;
        text-align: center;
        top: 7px;
        right: 2%;
    }

    /* first part suru */

    .dp{
        position: absolute;
        top: 50px;
        left: 40%;
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
    .name{
        position: absolute;
        top: 100px;
        left: 35%;
        font-size: 15px;
        color: teal;
    }
    .add{
        position: absolute;
        top: 100px;
        left: 65%;
        font-size: 10px;
        height: 15px;
        width: 40px;
        border:2px solid black;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.842);
        color: whitesmoke;
    }
    .profile{
        height:14vh;
        width: 100vh;
        border-bottom: 4px solid white;
    }
}